html {
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 100%;
  width: 100%;
  background-image: url('https://img.freepik.com/vector-gratis/conjunto-patrones-flores-frutas-planas_23-2149484593.jpg?');
  background-size: cover;

}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.right {
  display: block;
  margin-left: auto;
  margin-right: 0;
}


img.left {
  display: block;
  margin-left: 0;
  margin-right: auto;
}
h1 {

display: block;
margin-right: auto;
margin-left: auto;

  
}

.textoCursi {
background-color: rgba(173, 216, 230, 0.7);
text-justify: inter-word;
border: 2px dashed black;
border-radius: 10px;
padding: 20px;
margin: 0 auto;
}

.textoCursiv2 {
  background-color: rgba(144, 231, 132, 0.7);
  text-justify: inter-word;
  border: 2px dashed black;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  }


.button {
  margin: 0 auto;
  background-color: #fb89cb; /* Green background color */
  color: white; /* White text color */
  padding: 15px 30px; /* Padding inside the button */
  font-size: 16px; /* Font size */
  border: none; /* No border */
  cursor: pointer; /* Cursor style */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
}

.button:hover {
  background-color: #a14584; /* Darker green when hovering */
}

.button:active {
  background-color: #dc5cff; /* Dark green when button is pressed */
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #81b1e7; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.textoAlldle {
  background-color: rgba(248, 248, 248, 0.7);
  text-justify: inter-word;
  border: 5px double black;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  margin-left: 500px;
  margin-right: 500px;
  }

  .contenedorimagenes {
    display: flex;
  }

